
/* переключатель */
/* переключатель */
/* переключатель */

#module_switch_news_article_feedback .news_article_feedback_switch{
    margin-top: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: var(--non-active-2, rgba(0, 56, 92, 0.70)) solid 0.25rem;
}
#module_switch_news_article_feedback .news_article_feedback_switch .left{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
/* #module_switch_news_article_feedback .news_article_feedback_switch .left .h1{
    color: var(--1, #00AEEF);
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: #00AEEF solid 0.25rem;
    position: relative; top: 0.25rem;
} */
#module_switch_news_article_feedback .news_article_feedback_switch .left button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--non-active-2, rgba(0, 56, 92, 0.70));
    font-family: Ubuntu;
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
    height: 0rem;
    position: relative; top: -0.4rem;
}
#module_switch_news_article_feedback .news_article_feedback_switch .left .active{
    border-bottom: #00AEEF solid 0.25rem;
    position: relative; top: 0.25rem;
}
#module_switch_news_article_feedback .news_article_feedback_switch .left .active button{
    border: none;
    background-color: transparent; width: 100%; height: 100%;
    color: var(--1, #00AEEF);
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    top: 0.2rem;
}

#module_switch_news_article_feedback .news_article_feedback_switch .right{
    text-align: center;
    
    /* ссылки в тексте */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative; top: -0.3rem;
}
#module_switch_news_article_feedback .news_article_feedback_switch .right a{
    color: var(--1, #00AEEF);
    text-decoration-line: underline;
}






/* карточки */
/* карточки */
/* карточки */

.news_article_feedback_cards {
    width: 1200px;
    height: 598px;
    flex-shrink: 0;

    /* от себя */
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #557d8b56;
}


.news_article_feedback_cards .card .content {
    display: flex;
    width: 357px;
    height: 568px;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;

    border: 3px solid var(--unnamed, #01437C);

    /* от себя */
    box-sizing: border-box;
    position: relative;
}

.news_article_feedback_cards .card .content .top {
    height: 17px;
    flex-shrink: 0;
    align-self: stretch;

    /* от себя */
    display: flex;
    justify-content: space-between;
}
.news_article_feedback_cards .card .content .top .type {
    width: 57.767px;

    color: var(--unnamed, #01437C);
    /* Хедер мал */
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.news_article_feedback_cards .card .content .top .date {
    width: 99.028px;

    color: var(--unnamed, #01437C);
    text-align: center;

    /* Статья/дата */
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.news_article_feedback_cards .card .content .then {
    color: var(--unnamed, #00AEEF);
    text-align: left;
    /* ссылки в тексте */
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;

    /* от себя */
    position: absolute;
    bottom: 15px;
}




/* тип новости */
/* тип новости */

.news_article_feedback_cards .card.news {
    display: flex;
    width: 386px;
    height: 598px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    background: var(--unnamed, #F0F0F0);

    /* от себя */
    position: relative;
}

.news_article_feedback_cards .card.news .img {
    width: 386px;
    height: 359px;

    position: absolute;
    top: 0px;
    right: 0px;

    background: var(--20, rgba(0, 0, 0, 0.20));
}

.news_article_feedback_cards .card.news .content {
    /* от себя */
    padding-top: 374px;
}

.news_article_feedback_cards .card.news .text {
    width: 100%;

    color: var(--unnamed, #01437C);
    text-align: center;

    /* Статья/H4 */
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* от себя */
    height: 118px;
    flex-shrink: 0;
    align-self: stretch;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}




/* тип отзывы */
/* тип отзывы */

.news_article_feedback_cards .card.feedback {
    background: var(--unnamed, #F0F0F0);

    display: flex;
    width: 387px;
    height: 598px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.news_article_feedback_cards .card.feedback .content {
    display: flex;
    width: 357px;
    height: 568px;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;

    border: 3px solid var(--unnamed, #01437C);

    /* от себя */
    position: relative;
}


.news_article_feedback_cards .card.feedback .content .name {
    align-self: stretch;
    /* padding: 15px 0; */

    color: var(--unnamed, #01437C);
    /* Статья/H4 */
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.news_article_feedback_cards .card.feedback .content .text {
    height: 428px;
    flex-shrink: 0;
    align-self: stretch;

    overflow: hidden;
    color: var(--unnamed, #01437C);
    text-overflow: ellipsis;
    whitespace: nowrap;
    /* текст */
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    /* от себя  */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 21;
    -webkit-box-orient: vertical;
}