




main{
    padding-top: 7.5rem;  padding-bottom: 7.5rem;
}
main .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
main .content .title{
    width: 1200px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* border: red solid 1px; */
}
main .content .title h1{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* position: relative; */
    /* left: -150px; */
}

main .content-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}
main .content-body .item1{
    display: flex;
    flex-direction: row;
}
main .content-body .item1 .right{
    width: 387px; 
    height: 786px;
    background: url("../img/page3/раздел_главная_КЭиА.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    right: -20px;
    top: -150px;
} main .content-body .item1 .right:hover{background: url('../img/page3/ЭАHover.png') no-repeat; background-size: 100% 100%;}
main .content-body .item1 .left{
    display: flex;
    flex-direction: column;
}
main .content-body .item1 .left .top{
    width: 793px; 
    height: 383px;
    background: url("../img/page3/раздел_главная_КиО.png") no-repeat;
    background-size: 100% auto;
}main .content-body .item1 .left .top:hover{background: url('../img/page3/КОHover.png') no-repeat; background-size: 100% 100%;}
main .content-body .item1 .left .bottom{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -20px;
}
main .content-body .item1 .left .bottom .left{
    width: 387px; 
    height: 383px;
    background: url("../img/page3/раздел_главная_ЦПТ.png") no-repeat;
    background-size: 100% auto;

    position: relative;
    bottom: -210px;
} main .content-body .item1 .left .bottom .left:hover{background: url('../img/page3/ЦПТHover.png') no-repeat; background-size: 100% 100%;}
main .content-body .item1 .left .bottom .right{
    width: 387px; 
    height: 383px;
    background: url("../img/page3/раздел_главная_ИЭ.png") no-repeat;
    background-size: 100% auto;

    position: relative;
    right: -19px;
    top: 0;
} main .content-body .item1 .left .bottom .right:hover{background: url('../img/page3/ИЭHover.png') no-repeat; background-size: 100% 100%;}


main .item2{
    width: 763px; 
    height: 353px;
    background: url("../img/page3/раздел_главная_МП.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    bottom: -20px;
    right: -197px;
}main .item2:hover{background: url('../img/page3/МПриборHover.png') no-repeat; background-size: 100% 100%;}

main .item3{
    width: 793px;
    height: 383px;
    background: url("../img/page3/раздел_главная_ЕНГО.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    bottom: -40px;
    left: -195px;
}main .item3:hover{background: url('../img/page3/ЕсИГумHover.png') no-repeat; background-size: 100% 100%;}


/* ############################################################################### */
/* main{
    padding: 7.5rem; padding-left: 12.5%; padding-right: 12.5%;
}
main .content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
main .first .left{
    display: flex;
    flex-direction: column;
    width: 64%;
}
main .first .left .top{
    width: 100%;
    height: 18rem;
    background: url("../img/page3/КОNormal.png"), no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0.8rem;
}
main .first .left .top:hover{
    background: url("../img/page3/КОHover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .first .bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .bottom a{
    width: 49%; height: 18rem;
}
main .rr{
    position: relative;
    top: 9rem;
}
main .first .bottom .left{
    width: 100%;
    height: 100%;
    background: url("../img/page3/ЦПТNormal.png"), no-repeat;
    background-size: 100% 100%;
}
main .first .bottom .left:hover{
    background: url("../img/page3/ЦПТHover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .first .bottom .right{
    width: 100%;
    height: 100%;
    background: url("../img/page3/ИЭNormal.png"), no-repeat;
    background-size: 100% 100%;
}
main .first .bottom .right:hover{
    background: url("../img/page3/ИЭHover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .first .last{
    width: 35%; height: 36.8rem;
    position: relative;
    top: -9rem
}
main .first .right-r{
    width: 100%;
    height: 100%;
    background: url("../img/page3/ЭАNormal.png"), no-repeat;
    background-size: 100% 100%;
}
main .first .right-r:hover{
    background: url("../img/page3/ЭАHover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .text{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5.5rem;
}

main .second{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
main .second a{
    width: 67%;
    height: 18rem;
    background: url("../img/page3/МПриборNormal.png"), no-repeat;
    background-size: 100% 100%;
    margin-top: 0.8rem;
    position: relative;
    right: -32.8%;
}
main .second a:hover{
    background: url("../img/page3/МПриборHover.png") no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .thirt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
main .thirt a{
    width: 64%;
    height: 18rem;
    background: url("../img/page3/ЕсИГумNormal.png"), no-repeat;
    background-size: 100% 100%;
    margin-top: 0.8rem;
}
main .thirt a:hover{
    background: url("../img/page3/ЕсИГумHover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
} */
/* ############################################################################### */





