




main{
    padding: 12.5%;
    padding-top: 3.75rem;
    padding-bottom: 7.5rem;
}
main .content{
    display: flex;
    width: 100%;
    flex-direction: column;
}
main .href1, main .href2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .href1{
    margin-bottom: 0.94rem;
}
main .href2{
    margin-bottom: 7.5rem;
}
main .href1 a, main .href2 a{
    color: var(--unnamed, #01437C);
    /* внутр линк/другое */
    font-family: Ubuntu;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    border-bottom: #01437C dashed 1px;
}
main .href1 a:hover, main .href2 a:hover{
    color: var(--1, #00AEEF);
    /* внутр линк/другое */
    font-family: Ubuntu;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    border-bottom: #00AEEF solid 1px;
}
main h1{
    color: var(--unnamed, #01437C);

    /* Н1 */
    font-family: Ubuntu;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.81rem;
}

main .f-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .f-info .left{
    width: 45%;
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 1.75rem */
}
main .f-info .right{
    width: 45%;
    height: 20.5rem;
    background: url("../img/page4/photo.svg");
    background-size: 100% 100%;
}
main .sometextandbutton{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .sometextandbutton h2{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 7.5rem;
    margin-bottom: 2.4rem;
}
main .sometextandbutton button{
    display: inline-flex;
    padding: 0.9375rem 3.75rem;
    justify-content: center;
    align-items: center;
    background: var(--unnamed, #01437C);
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    max-height: 3rem;
    margin-top: 5rem;
}
main .sometextandbutton button:hover{
    background-color: #00AEEF;
}
main .container5{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%; height: auto;  
    align-items: stretch;
    overflow: hidden;
}
main .c5-last{
    margin-top: 0;
}
main .container5 a{
    width: 20rem; height: 34rem;
    z-index: 1;
}
main .container5 .card{
    width: 20rem; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: 0;
    /* max-height: 34rem; */
}
main .container5 .card .top{
    width: 100%;
    height: 20rem;
    background: var(--20, rgba(0, 0, 0, 0.20));

    background: url("../img/page1/фото2.svg") no-repeat;
    background-size: 100% 100%;
}
main .container5 .card .top:hover{

}
main .container5 .bottom{
    height: 12rem;
    background-color: #F0F0F0;

}
main .container5 .name{
    color: var(--unnamed, #01437C);

    /* Карточка персоны/H4-П */
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 8%; margin-top: 0.8rem; margin-bottom: 0.6rem;
}
main .container5 .card-text{
    overflow: hidden;
    color: var(--unnamed, #01437C);
    text-overflow: ellipsis;
    whitespace: nowrap;
    
    /* Карточка персоны/текст-П */
    font-family: Ubuntu;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%; margin-bottom: 0.8rem;
}
main .container5 .tags{
    display: flex; flex-direction: row;
    justify-content: space-between;
    width: 40%; margin-left: 8%;
}
main .container5 .tags div{
    color: var(--1, #00AEEF);

/* подписи под фото */
font-family: Ubuntu;
font-size: 0.75rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}

main .container5 .card{
    position:relative;
}
main .container5 .card .border{
    display:block;
    width: 94%;
    height: 31rem;
    border: 3px solid var(--unnamed, #01437C);
    position: absolute;
    bottom: 0.5rem;
    left: 3%;
}
main .container5 .card .border:hover{
    border: 3px solid var(--unnamed, #00AEEF);
}




#pop_up_3{
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;

    visibility: hidden;
    opacity: 0;
}
#pop_up_3 .pop_up__body{
    display: flex;
    width: 100%; height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#pop_up_3 .pop_up__close{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    cursor: pointer;
}
#pop_up_3 .pop_up__content{
    display: flex;
    width: 800px; height: auto;
    background: var(--unnamed, #F0F0F0);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#pop_up_3 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -25px;
}
#pop_up_3 img{
    width: 800px;
}
#pop_up_3 .text{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;
    margin-top: 20px;
    margin-bottom: 20px;
}




