


main{padding: 7.5rem; padding-left: 12.75%; padding-right: 12.75%;}

main h1{
    color: var(--unnamed, #01437C);
    /* Н1 */
    font-family: Ubuntu;
    font-size: 3.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.75rem;
}
main .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7.5rem;
}
main .container .left,
main .container .right{
    width: 30%;
    display: flex;
    flex-direction: column;
}
main .container .right{width: 80%;}
main .container .left h2{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.6rem;
}
main .container .left h3{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    margin-bottom: 2.3rem;
}
main .container .right h4{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.1375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 2.0125rem */
    letter-spacing: 0.02875rem;
    width: 85%; 
    align-self: self-end;
}
main .container .right .photo1{
    width: 100%; 
    height: 30.5rem;
    background: url("../img/page3-t/фото.png"), no-repeat;
    background-size: 100% 100%;
    margin-top: 3.75rem;
}
main .container .right .photo2{
    width: 100%; 
    height: 28rem;
    background: url("../img/page3-t/фото3.png"), no-repeat;
    background-size: 100% 100%;
    margin-top: 3.75rem;
}
main .container .right h5{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    align-self: self-start;
    margin-top: 1.25rem;
    position: relative;
    display: flex;
}
main .container .right h5 .a-r{
    position: absolute;
    width: 3.25rem; height: 1.5rem;
    background: url("../img/page1/стрелка\ слайдера\ right.svg"), no-repeat;
    background-size: 100% 100%;
    left: 400%;
    top: -0.5rem;
}
main .container .right h5 .a-l{
    position: absolute;
    width: 3.25rem; height: 1.5rem;
    background: url("../img/page1/стрелка\ слайдера\ left.svg"), no-repeat;
    background-size: 100% 100%;
    left: 450%;
    top: -0.5rem;
}
main .container .right h5 button{
    width: 100%; height: 100%; background-color: transparent; border: 0; cursor: pointer;
}
main .tw{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;
}

main .tw .left{
    width: 44%; height: 14.5rem;
    background: url("../img/page3-t/фото2.png"), no-repeat;
    background-size: 100% 100%;
}
main .tw .left2{
    width: 44%; height: 14.5rem;
    background: url("../img/page3-t/фото4.png"), no-repeat;
    background-size: 100% 100%;
    position: relative;
}
main .tw .right{
    width: 54%;
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.1375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 2.0125rem */
    letter-spacing: 0.02875rem;
}
main .tw .left::after{
    content: 'Первая отечественная электроторпеда';
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 15.5rem;
}
main .tw .left2::after{
    content: 'Атомный ледокол “Ленин”';
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /* margin-top: 14.5rem; */
    position: absolute;
    top: 14.5rem;
    margin-top: 1rem;
}
main .c-last{
    margin-bottom: 0;
}




main .text-and-arrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .text-and-arrow .arrow{
    width: 7.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -0.7rem;
}
main .text-and-arrow .arrow .a-right{
    width: 3.25rem; height: 1.5rem;
    background: url("../img/page1/стрелка\ слайдера\ right.svg"), no-repeat;
    background-size: 100% 100%;
}
main .text-and-arrow .arrow .a-left{
    width: 3.25rem; height: 1.5rem;
    background: url("../img/page1/стрелка\ слайдера\ left.svg"), no-repeat;
    background-size: 100% 100%;
}
main .text-and-arrow button{
    width: 100%; height: 100%; background-color: transparent; border: 0;
    cursor: pointer;
}




#pop_up_3{
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;

    visibility: hidden;
    opacity: 0;
}
#pop_up_3 .pop_up__body{
    display: flex;
    width: 100%; height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#pop_up_3 .pop_up__close{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    cursor: pointer;
}
#pop_up_3 .pop_up__content{
    display: flex;
    width: 800px; height: auto;
    background: var(--unnamed, #F0F0F0);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#pop_up_3 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -25px;
}
#pop_up_3 img{
    width: 800px;
}
#pop_up_3 .text{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pop_up_4{
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; left: 0;
    z-index: 10;
    
    visibility: hidden; 
    opacity: 0;
}
#pop_up_4 .pop_up__body{
    display: flex;
    width: 100%; height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#pop_up_4 .pop_up__close{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    cursor: pointer;
}
#pop_up_4 .pop_up__content{
    display: flex;
    width: 934px; height: auto;
    background: var(--unnamed, #F0F0F0);
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 50px;
}
#pop_up_4 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -25px; top: 0px;
}
#pop_up_4 .pop_up__content .title{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}
#pop_up_4 .pop_up__content .text{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 50px;
}
#pop_up_4 form{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#pop_up_4 form .search{
    width: 590px; height: 62px;
    padding: 20px 30px;
    color: var(--non-active, rgb(1, 67, 124));
    font-family: Ubuntu;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.95px;
    text-transform: uppercase;
    border: 2px solid var(--unnamed, #01437C);

}
#pop_up_4 form .search::placeholder{
    color: var(--non-active, rgba(1, 67, 124, 0.40));
}
#pop_up_4 form button{
    width: 188px; height: 47;
    background: var(--unnamed, #01437C);
    display: flex;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    cursor: pointer;
}
#pop_up_4 form button:hover{
    background: var(--unnamed, #00AEEF);
}
#pop_up_4 .item1{
    margin-top: 20px; margin-bottom: 60px;
    color: #000;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#pop_up_4 .item2{
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;

    color: var(--unnamed, #01437C);
    border-bottom: var(--unnamed, #01437C) dashed 2px;
}
#pop_up_4 .item2:hover{
    color: var(--unnamed, #00AEEF);
    border-bottom: var(--unnamed, #00AEEF) solid 2px;
}
#pop_up_4 .item3{
    margin-top: 50px;
    color: #000;
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;
}
#pop_up_4 h10::before{
    content: 'ЧОРАКОФФ';
}