a{
    text-decoration: none;
}
header .content{
    display: block;
    width: 100%; height: 53.875rem;
    background: url("../img/index/fon.svg"), no-repeat;
    display: flex;
    flex-direction: row;
}
header .logo{
    min-width: 32%;
    background: url("../img/index/logo.svg") no-repeat;
}
header h1{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header h2{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header .logo-text{
    min-width: 38rem;
    position: relative;
    top: 34.63rem;
    right: 17%;
}
header .nav{
    min-width: 42rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 3.38rem;
    right: 12.5%;
}
header .nav a{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
header .nav img{
    position: relative;
    bottom: 0.25rem;
}
header .scrol{
    position: absolute;
    top: 43rem; right: 12.5%;
}
header .scrol button{
    border: none;
    background-color: transparent;
}
header .scrol button:hover{
    cursor: pointer;
}




main{
    width: 100%;
    height: auto;
    padding: 12.5%;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
main .content{
    width: 100%; height: 100%;
}
main .container1{
    display: flex;
    justify-content: space-between;
}
main .container1 .left{
    width: 66%;
}

main .container1 .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38.4rem;
}



main .container1 .left .top, main .container1 .left .bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .container1 .left a{
    min-width: 48.3%;
    min-height: 18.5rem;
    z-index: 2;
}
main .container1 .left .top .top-left,
main .container1 .left .top .top-right,
main .container1 .left .bottom .bottom-left,
main .container1 .left .bottom .bottom-right{
    min-width: 48.3%;
    min-height: 18.5rem;
    z-index: 3;
}
main .container1 .left .top .top-left::after,
main .container1 .left .top .top-right::after,
main .container1 .left .bottom .bottom-left::after,
main .container1 .left .bottom .bottom-right::after
{
    content: '';
    display: block;
    min-width: 48.3%;
    min-height: 18.5rem;
    z-index: 2;
}



main .container1 .left .top .top-left{
    background: url("../img/index/Герои_normal.png"), no-repeat;
    background-size: 100% 100%;
}
main .container1 .left .top .top-right{
    background: url("../img/index/Факультет_normal.png"), no-repeat;
    background-size: 100% 100%;
}
main .container1 .left .bottom .bottom-left{
    background: url("../img/index/студентыNormal.png"), no-repeat;
    background-size: 100% 100%;
}
main .container1 .left .bottom .bottom-right{
    background: url("../img/index/ВыпускникиNormal.png"), no-repeat;
    background-size: 100% 100%;
}



main .container1 .left .top .top-left:hover{
    background: url("../img/index/Герои_hover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .container1 .left .top .top-right:hover{
    background: url("../img/index/Факультет_hover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .container1 .left .bottom .bottom-left:hover{
    background: url("../img/index/Студенты_hover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}
main .container1 .left .bottom .bottom-right:hover{
    background: url("../img/index/ВыпускникиHover.png"), no-repeat;
    background-size: 100% 100%; cursor: pointer;
}












main .container1 .right{
    width: 32%;
    padding: 15px;
    background: var(--unnamed, #F0F0F0);
}
main .container1 .right .inner{
    border: 3px solid var(--unnamed, #01437C);
    padding: 89px 30px 90px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
}
main .container1 .right .inner div{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.13px;
    text-transform: uppercase;
}



main .container2 .photo{
    display: flex;
    margin-top: 7.5rem;
    width: 100%;
    height: 30.25rem;
    background: url("../img/index/264_normal.png"), no-repeat;
    background-size: 100% 100%;
}
main .container2 .photo:hover{
    background: url("../img/index//264_hover.png"), no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

main .container3{
    display: flex;
    margin-top: 7.5rem;
    width: 100%;
    flex-direction: row;    
    justify-content: space-between;  
}
main .container3 .left{
    width: 100%;
    height: 42.3rem;
    background: url("../img/index/Каталог_normal.png"), no-repeat;
    background-size: 100% 100%;
}
main .container3 .a{
    width: 33%;
    height: 42.3rem;
}
main .container3 .left:hover{
    background: url("../img/index/Каталог_hover.png"), no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
main .container3 .right{
    width: 65%;
    height: 42.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .container3 .right .top{
    width: 100%;
    height: 20.5rem;
    background: url("../img/index/Преподы_normal.png"), no-repeat;
    background-size: 100% 100%;
}
main .container3 .right .top:hover{
    background: url("../img/index/Преподы_hover.png"), no-repeat;
    background-size: 100% 100%;
}
main .container3 .right .bottom{
    width: 100%;
    height: 20.5rem;
    background: var(--unnamed, #F0F0F0);
    padding: 0.9375rem;
}
main .container3 .right .bottom .inner{
    display: flex;
    width: 100%; height: 100%;
    border: 3px solid var(--unnamed, #01437C);
    padding: 5.3125rem 5.4375rem 5.25rem 5.4375rem;
    justify-content: center;
    align-items: center;
}
main .container3 .right .bottom .inner .text{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.07063rem;
    text-transform: uppercase;
}





main .container4{
    margin-top: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: var(--non-active-2, rgba(0, 56, 92, 0.70)) solid 0.25rem;
}
main .container4 .left{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
main .container4 .left .h1{
    color: var(--1, #00AEEF);

    /* Н2-UP */
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: #00AEEF solid 0.25rem;
    position: relative; top: 0.25rem;
}
main .container4 .left button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--non-active-2, rgba(0, 56, 92, 0.70));
    font-family: Ubuntu;
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
    height: 0rem;
    position: relative; top: -0.4rem;
}
main .container4 .right{
    text-align: center;
    
    /* ссылки в тексте */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative; top: -0.3rem;
}
main .container4 .right a{
    color: var(--1, #00AEEF);
    text-decoration-line: underline;
}


main .container5{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%; height: auto;  
    align-items: stretch;
    position: relative;
}
main .container5 .arrow-left{
    position: absolute;
    width: 3.25%; height: 1.5rem;
    display: block;
    left: -4.5%;
    top: 16.5rem;
    background: url("../img/page1/стрелка\ слайдера\ right.svg"), no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
main .container5 .arrow-left button, main .container5 .arrow-right button{
    width: 100%; height: 100%; background-color: transparent; border: none; cursor: pointer;
}
main .container5 .arrow-right{
    position: absolute;
    width: 3.25%; height: 1.5rem;
    display: block;
    left: 101.25%;
    top: 16.5rem;
    background: url("../img/page1/стрелка\ слайдера\ left.svg"), no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
main .container5 a{
    width: 32%; height: 34rem;
    z-index: 1;
}
main .container5 .card{
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
    /* max-height: 34rem; */
}
main .container5 .card .top{
    width: 100%;
    height: 20rem;
    flex-shrink: 0;
    background: var(--20, rgba(0, 0, 0, 0.20));
}
main .container5 .card .bottom{
    width: 100%;
    height: 14rem;
    /* height: auto; */
    background: var(--unnamed, #F0F0F0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    padding: 1rem;
}
main .container5 .card .bottom .item1{
    display: flex;
    margin-left: 5%;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
}
main .container5 .card .bottom .item1 .h1
{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
main .container5 .card .bottom .item1 .h2
{
    color: var(--unnamed, #01437C);
    text-align: center;

    /* Статья/дата */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
main .container5 .card .bottom .item2{
    width: 90%;
    margin-left: 5%;
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
main .container5 .card .bottom .item3
{
    margin-left: 5%;
    color: var(--1, #00AEEF);
    text-align: start;
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}
main .container5 .card{
    position:relative;
}
main .container5 .card .border{
    display:block;
    width: 94%;
    height: 33rem;
    border: 3px solid var(--unnamed, #01437C);
    position: absolute;
    bottom: 0.5rem;
    left: 3%;
}



footer .content{
    width: 100%;
    height: 24.4rem;
    background: url("../img/index/plashka.svg"), no-repeat;
    z-index: 6;
    display: flex;
    flex-direction: column;
}
footer .top{
    display: flex;
    width: 75%; margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.8rem;
    align-items: flex-start;
}
footer .top .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5rem;
}


.container div{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-decoration: none;
}

footer h1{
    color: var(--unnamed, #FFF);
    /* text-align: center; */
    font-family: Ubuntu;
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
    text-decoration: none;
}
footer .first{
    height: 9rem;
}
footer .second{
    height: 12rem;
}
footer .thirt{
    height: 9rem;
}

footer .bottom{
    display: flex;
    width: 75%;
    margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}
footer .bottom .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17%;
}
footer .bottom .right{
    color: var(--unnamed, #FFF);
    text-align: right;
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}