a{
    text-decoration: none;
}
header .content{
    width: 100%; height: 14.5rem;
    padding-left: 12.5%; padding-right: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url("../img/page1/хедер.svg"), no-repeat;
    background-size: auto 100%
}
header .content .top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .content .top .logo-href{
    width: 35%;
    height: 8rem;
}
header .content .top .logo{
    background: url("../img/index/логоfooter.svg"), no-repeat;
    width: 100%;
    height: 8rem;
    background-size: 100% 100%;
}
header .top .nav{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 2rem;
    position: relative;
    top: 1rem
}
header .top .nav a{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
header .top .nav img{
    position: relative;
    bottom: 0.1rem;
}
header .content .bottom,
header .content .bottom .base-href{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
}
header .content .bottom summary{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
}
details, summary {
list-style: none;
margin: 0;
padding: 0;
}
summary{
    position: relative;
}
header .all-block{
    position: absolute;
    top: 14.4rem;
}
header .block {
    border: 3px solid var(--unnamed, #01437C);
    border-bottom: 0;
    background: #FFF;
    display: flex;
    width: 100%;
    padding: 0.8rem 4%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .block a{
    color: var(--unnamed, #00AEEF);

    /* Хедер мал */
    font-family: Ubuntu;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
header .last{
    border: 3px solid var(--unnamed, #01437C);
}
header .opab{
    left:18.5%;
}
header .fuck{
    left: 30.5%;
}






main{
    padding: 7.5rem; padding-left: 12.5%; padding-right: 12.5%;
}
main h1{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.75rem;
}
main .r-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1.2rem;
}
main .r{
    width: 32%;
    background: var(--unnamed, #F0F0F0);
    padding: 0.9375rem;
}
main .r .inner{
    width: 100%; height: 100%;
    border: 3px solid var(--unnamed, #01437C);
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: start;
} 
main .r .inner:hover{
    border: 3px solid var(--unnamed, #00AEEF);
}
main .item1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .item1-1{
    color: var(--unnamed, #01437C);

    /* Хедер мал */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
main .item1-2{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
main .item2{
    color: var(--unnamed, #01437C);

    /* Статья/H4 */
    font-family: Ubuntu;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
main .item3{
    overflow: hidden;
    color: var(--unnamed, #01437C);
    text-overflow: ellipsis;
    whitespace: nowrap;
    
    /* текст */
    font-family: Ubuntu;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: var(--unnamed, #01437C);

    /* текст */
    font-family: Ubuntu;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
main .item4{
    color: var(--1, #00AEEF);
    text-align: center;
    
    /* ссылки в тексте */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}
main .m{
    margin-bottom: 0.94rem;
}
main .r-container .last{
    background: url("../img/page13-t/СТА_отзыв.png"), no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
main .last h1{
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
main .last button{
    display: flex;
    width: 90%;
    height: 4.3125rem;
    padding: 0.9375rem 2.75rem;
    justify-content: center;
    align-items: center;
    background: var(--unnamed, #01437C);
    border: none;
    color: var(--unnamed, #FFF);

/* Хедер мал */
font-family: Ubuntu;
font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.04688rem;
text-transform: uppercase;
    cursor: pointer;
}main .last button:hover{background-color: #00AEEF;}
main .buttom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .buttom button{
    border: none;
    display: flex;
    /* width: 24.125rem; */
    width: 32%;
    height: 4rem;
    padding: 0.9375rem 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    background: var(--unnamed, #01437C);
    color: var(--unnamed, #FFF);

    /* Хедер мал */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    margin-top: 3.75rem;
    cursor: pointer;
    margin-bottom: 7.5rem;
}main .buttom button:hover{background-color: #00AEEF;}




main .c-form .username, 
main .c-form .phone, 
main .c-form .email,
main .c-form .message{
    width: 100%;
    border: 2px solid var(--unnamed, #01437C);
    padding: 1.25rem 1.875rem;
    color: rgb(0, 0, 0);
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    margin-bottom: 1.25rem;
}

main .c-form .username::placeholder,
main .c-form .email::placeholder,
main .c-form .phone::placeholder,
main .c-form .message::placeholder{
    color: var(--non-active, rgba(1, 67, 124, 0.40));
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
}
main .c-form .message{
    width: 100%; height: 15rem;
    resize: none; margin-bottom: 0.8rem;
}
main .c-form .submit{
    width: 30%;
    padding: 1.5rem 4%;
    justify-content: center;
    align-items: center;
    background: var(--unnamed, #01437C);
    border: none;
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    cursor: pointer;
<<<<<<< Updated upstream
}main .c-form .submit:hover{background-color: #00AEEF;}







footer .content{
    width: 100%;
    height: 24.4rem;
    background: url("../img/index/plashka.svg"), no-repeat;
    z-index: 6;
    display: flex;
    flex-direction: column;
}
footer .top{
    display: flex;
    width: 75%; margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.8rem;
    align-items: flex-start;
}
footer .top .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5rem;
}


footer .container div{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-decoration: none;
}

footer h1{
    color: var(--unnamed, #FFF);
    /* text-align: center; */
    font-family: Ubuntu;
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
    text-decoration: none;
}
footer .first{
    height: 9rem;
}
footer .second{
    height: 12rem;
}
footer .thirt{
    height: 9rem;
}

footer .bottom{
    display: flex;
    width: 75%;
    margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}
footer .bottom .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17%;
}
footer .bottom .right{
    color: var(--unnamed, #FFF);
    text-align: right;
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}






#pop_up_1{
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; left: 0;

    
    visibility: hidden;
    opacity: 0;
}
#pop_up_1 .pop_up__body{
    display: flex;
    width: 100%; height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
}
#pop_up_1 .pop_up__close{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    cursor: pointer;
}
#pop_up_1 .pop_up__content{
    display: flex;
    width: 600px; height: 200px;
    background: var(--unnamed, #F0F0F0);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#pop_up_1 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -25px;
}
#pop_up_1 .pop_up__content .title{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}
#pop_up_1 .pop_up__content .text{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 50px;
}




#pop_up_2{
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; left: 0;
    
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
}
#pop_up_2 .pop_up__body{
    display: flex;
    width: 100%; height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12.5%;

}
#pop_up_2 .pop_up__close{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    cursor: pointer;
}
#pop_up_2 .pop_up__content{
    width: 770px; height: auto;
    background: var(--unnamed, #F0F0F0);
    position: relative;
    padding: 15px;
}
#pop_up_2 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -25px; top: 0;
}
#pop_up_2 .pop_up__content .inner{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border: 3px solid var(--unnamed, #01437C);
    padding: 15px;
}
#pop_up_2 .pop_up__content .inner .title{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
#pop_up_2 .pop_up__content .inner .title .item1{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
#pop_up_2 .pop_up__content .inner .title .item2{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
#pop_up_2 .pop_up__content .inner .name{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
#pop_up_2 .pop_up__content .inner .text{
    color: var(--unnamed, #01437C);
font-family: Ubuntu;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 15px;
}
#pop_up_2 .pop_up__content .inner .exit{
    color: var(--unnamed, #00AEEF);
    text-align: center;
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}




#pop_up_4{
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; left: 0;
    z-index: 10;
    
    visibility: hidden; 
    opacity: 0;
}
#pop_up_4 .pop_up__body{
    display: flex;
    width: 100%; height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#pop_up_4 .pop_up__close{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    cursor: pointer;
}
#pop_up_4 .pop_up__content{
    display: flex;
    width: 934px; height: auto;
    background: var(--unnamed, #F0F0F0);
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 50px;
}
#pop_up_4 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -25px; top: 0px;
}
#pop_up_4 .pop_up__content .title{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}
#pop_up_4 .pop_up__content .text{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 50px;
}
#pop_up_4 form{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#pop_up_4 form .search{
    width: 590px; height: 62px;
    padding: 20px 30px;
    color: var(--non-active, rgb(1, 67, 124));
    font-family: Ubuntu;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.95px;
    text-transform: uppercase;
    border: 2px solid var(--unnamed, #01437C);

}
#pop_up_4 form .search::placeholder{
    color: var(--non-active, rgba(1, 67, 124, 0.40));
}
#pop_up_4 form button{
    width: 188px; height: 47;
    background: var(--unnamed, #01437C);
    display: flex;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    cursor: pointer;
}
#pop_up_4 form button:hover{
    background: var(--unnamed, #00AEEF);
}
#pop_up_4 .item1{
    margin-top: 20px; margin-bottom: 60px;
    color: #000;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#pop_up_4 .item2{
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;

    color: var(--unnamed, #01437C);
    border-bottom: var(--unnamed, #01437C) dashed 2px;
}
#pop_up_4 .item2:hover{
    color: var(--unnamed, #00AEEF);
    border-bottom: var(--unnamed, #00AEEF) solid 2px;
}
#pop_up_4 .item3{
    margin-top: 50px;
    color: #000;
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;
}
#pop_up_4 h10::before{
    content: 'ЧОРАКОФФ';
}
=======
}main .c-form .submit:hover{background-color: #00AEEF;}
>>>>>>> Stashed changes
