a{
    text-decoration: none;
}
header .content{
    width: 100%; height: 14.5rem;
    padding-left: 12.5%; padding-right: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url("../img/page1/хедер.svg"), no-repeat;
    background-size: auto 100%
}
header .content .top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .content .top .logo-href{
    width: 35%;
    height: 8rem;
}
header .content .top .logo{
    background: url("../img/index/логоfooter.svg"), no-repeat;
    width: 100%;
    height: 8rem;
    background-size: 100% 100%;
}
header .top .nav{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 2rem;
    position: relative;
    top: 1rem
}
header .top .nav a{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
header .top .nav img{
    position: relative;
    bottom: 0.1rem;
}
header .content .bottom,
header .content .bottom .base-href{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
}
header .content .bottom summary{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
}
details, summary {
list-style: none;
margin: 0;
padding: 0;
}
summary{
    position: relative;
}
header .all-block{
    position: absolute;
    top: 14.4rem;
}
header .block {
    border: 3px solid var(--unnamed, #01437C);
    border-bottom: 0;
    background: #FFF;
    display: flex;
    width: 100%;
    padding: 0.8rem 4%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .block a{
    color: var(--unnamed, #00AEEF);

    /* Хедер мал */
    font-family: Ubuntu;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
header .last{
    border: 3px solid var(--unnamed, #01437C);
}
header .opab{
    left:18.5%;
}
header .fuck{
    left: 30.5%;
}






main{
    padding: 12.5%; padding-top: 7.5rem; padding-bottom: 7.5rem;
}
main .content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .p .p-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}
main .p .p-text h1{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.56rem;

}
main .p .p-text .date{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07063rem;
    margin-bottom: 1.56rem;

}

main .p .p-text .text{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 3.44rem;
    width: 75%;

}
main .p .p-text .tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    color: var(--1, #00AEEF) ;

    /* тег */
    font-family: Ubuntu;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main .p a,
main .p a:active,
main .p a:hover{
    text-decoration: none;
    color: #00AEEF;
}
main .p .p-photo{
    width: 30%;
    height: 24.5rem;
    background: url("../img/page1/ВасилийИвановичЧураков.svg"), no-repeat;
    background-size: 100% 100%;
}

main .switches{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: end;
    width: 100%; height: auto;
    margin-top: 8rem;

    flex-wrap: nowrap;
}
main .switches .switch{
    border: none; background-color: transparent; cursor: pointer;
    /* width: 25%; */
    min-width: 19.8%;
    height: 3.125rem;
    /* width: 19%;
    height: 3.125rem; */
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding-right: 2rem;
    padding-left: 1rem;
    /* position: relative; */
    background: url("../img/page2-t/Union.png"), no-repeat;
    background-size: 100% 100%;
    /* margin-right: 3.5%; */
    /* z-index: 1; */
}
main .switches .switch::after{
    /* content: "";
    display: block;
    width: 26%;
    height: 3.125rem;
    background: #FFFFFF;
    position: absolute;
    right: -13%; 
    top: -1px;
    transform: skewX(30deg);
    border: var(--unnamed, #01437C) solid 1px;
    border-left: 0;
    z-index: -1; */
}
/* main .switches .last{
    margin-right: 0;
} */
.index-one{
    position: relative;
    z-index: 1;
    right: 6%;
}
.index-two{
    position: relative;
    z-index: 2;
    right: 4.5%;
}
.index-three{
    position: relative;
    z-index: 3;
    right: 3%;
}
.index-four{
    position: relative;
    z-index: 4;
    right: 1.5%;
}
.index-five{
    position: relative;
    z-index: 5;
    right: 0;
}
main .switches .active{
    width: 26%;
    height: 3.75rem;
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: relative;
    z-index: 7;
    background: var(--unnamed, #F0F0F0);
    margin-right: 7%;
    border: none;
    white-space: nowrap;
}
main .switches .active::after{
    content: "";
    display: block;
    width: 52%;
    height: 3.75rem;
    background: var(--unnamed, #F0F0F0);
    position: absolute;
    right: -26%; 
    top: 0px;
    transform: skewX(30deg);
    z-index: -1;
    border: none;
}

main .info{
    padding: 0.94rem;
    background: var(--unnamed, #F0F0F0);
}
main .info .inner{
    border: 3px solid var(--unnamed, #01437C);
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

main .info .hrefs1{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 1.88rem;
}
main .info .hrefs1 a,
main .info .hrefs2 a{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    border-bottom: var(--1, #01437C) dashed 1px;
}
main .info .hrefs1 a:hover,
main .info .hrefs2 a:hover{
    color: var(--unnamed, #00AEEF);
    border-bottom: var(--1, #00AEEF) solid 1px;
}
main .info .hrefs2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.94rem;
    margin-bottom: 3.12rem;
}
main .info .data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}
main .info .data .left{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 1.75rem */
    width: 46%;
}
main .info .data .right{
    display: flex;
    flex-direction: column;
    width: 46%;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
main .info .data .photo{
    /* width: 28rem; */
    width: 100%;
    height: 18.8rem;
    background: url("../img/page2-t/фото.png") no-repeat;
    background-size: 100% 100%;
}
main .info .data .textt{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 28rem;
}
.ws{width: 100%; height: 10rem; display: flex;}
main .arrow{
    display: flex;
    width: 8rem;
    height: 3.5rem;
    position: absolute;
    right: 0.94rem; bottom: 0.94rem;
    flex-direction: column;
    justify-content: space-around;
}
main .arrow .bottom button{
    width: 100%; height: 100%; border: none; background-color: transparent; cursor: pointer;
}
main .arrow .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .arrow .bottom .left, main .arrow .bottom .right{
    width: 3.25rem; height: 1.5rem;
    background: url("../img/page1/стрелка\ слайдера\ right.svg") no-repeat;
    background-size: 100% 100%;
}
main .arrow .bottom .right{
    background: url("../img/page1/стрелка\ слайдера\ left.svg") no-repeat;
    background-size: 100% 100%;
}
main .arrow .top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .arrow .top{
    color: var(--unnamed, #01437C);
text-align: center;

/* Хедер мал */
font-family: Ubuntu;
font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.04688rem;
text-transform: uppercase;
}
main .sometextandbutton{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7.5rem;
}
main .sometextandbutton h2{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
main .sometextandbutton button{
    display: inline-flex;
    padding: 0.9375rem 3.75rem;
    justify-content: center;
    align-items: center;
    background: var(--unnamed, #01437C);
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}main .sometextandbutton button:hover{background-color: #00AEEF;}
main .container5{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%; height: auto;  
    align-items: stretch;
    overflow: hidden;
}
main .container5 a{
    width: 20rem; height: 34rem;
    z-index: 1;
}
main .container5 .card{
    width: 20rem; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: 0;
    /* max-height: 34rem; */
}
main .container5 .card .top{
    width: 100%;
    height: 20rem;
    background: var(--20, rgba(0, 0, 0, 0.20));

    background: url("../img/page1/фото2.svg") no-repeat;
    background-size: 100% 100%;
}
main .container5 .card .top:hover{

}
main .container5 .bottom{
    height: 12rem;
    background-color: #F0F0F0;

}
main .container5 .name{
    color: var(--unnamed, #01437C);

    /* Карточка персоны/H4-П */
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 8%; margin-top: 0.8rem; margin-bottom: 0.6rem;
}
main .container5 .card-text{
    overflow: hidden;
    color: var(--unnamed, #01437C);
    text-overflow: ellipsis;
    whitespace: nowrap;
    
    /* Карточка персоны/текст-П */
    font-family: Ubuntu;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%; margin-bottom: 0.8rem;
}
main .container5 .tags{
    display: flex; flex-direction: row;
    justify-content: space-between;
    width: 40%; margin-left: 8%;
}
main .container5 .tags div{
    color: var(--1, #00AEEF);

/* подписи под фото */
font-family: Ubuntu;
font-size: 0.75rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}

main .container5 .card{
    position:relative;
}
main .container5 .card .border{
    display:block;
    width: 94%;
    height: 31rem;
    border: 3px solid var(--unnamed, #01437C);
    position: absolute;
    bottom: 0.5rem;
    left: 3%;
}
main .container5 .card .border:hover{
    border: 3px solid var(--unnamed, #00AEEF);
}
/* main .container5 .card .border:hover + main .container5 .card .top{
    background: url("../img/page2-t/Никитин\ Ю\ Г.svg");
} */












footer .content{
    width: 100%;
    height: 24.4rem;
    background: url("../img/index/plashka.svg"), no-repeat;
    z-index: 6;
    display: flex;
    flex-direction: column;
}
footer .top{
    display: flex;
    width: 75%; margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.8rem;
    align-items: flex-start;
}
footer .top .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5rem;
}


footer .container div{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-decoration: none;
}

footer h1{
    color: var(--unnamed, #FFF);
    /* text-align: center; */
    font-family: Ubuntu;
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
    text-decoration: none;
}
footer .first{
    height: 9rem;
}
footer .second{
    height: 12rem;
}
footer .thirt{
    height: 9rem;
}

footer .bottom{
    display: flex;
    width: 75%;
    margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}
footer .bottom .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17%;
}
footer .bottom .right{
    color: var(--unnamed, #FFF);
    text-align: right;
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}