a{
    text-decoration: none;
}
header .content{
    width: 100%; height: 14.5rem;
    padding-left: 12.5%; padding-right: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url("../img/page1/хедер.svg"), no-repeat;
    background-size: auto 100%
}
header .content .top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .content .top .logo-href{
    width: 35%;
    height: 8rem;
}
header .content .top .logo{
    background: url("../img/index/логоfooter.svg"), no-repeat;
    width: 100%;
    height: 8rem;
    background-size: 100% 100%;
}
header .top .nav{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 2rem;
    position: relative;
    top: 1rem
}
header .top .nav a{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
header .top .nav img{
    position: relative;
    bottom: 0.1rem;
}
header .content .bottom,
header .content .bottom .base-href{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
}
header .content .bottom summary{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
}
details, summary {
list-style: none;
margin: 0;
padding: 0;
}
summary{
    position: relative;
}
header .all-block{
    position: absolute;
    top: 14.4rem;
}
header .block {
    border: 3px solid var(--unnamed, #01437C);
    border-bottom: 0;
    background: #FFF;
    display: flex;
    width: 100%;
    padding: 0.8rem 4%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .block a{
    color: var(--unnamed, #00AEEF);

    /* Хедер мал */
    font-family: Ubuntu;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}
header .last{
    border: 3px solid var(--unnamed, #01437C);
}
header .opab{
    left:18.5%;
}
header .fuck{
    left: 30.5%;
}










main{
    padding: 7.5rem; padding-left: 12.5%; padding-right: 12.5%;
}


















main .item1, 
main .item2,
main .item3,
main .item4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
main .item1 .right,
main .item2 .right,
main .item3 .right,
main .item4 .right{
    display: flex;
    flex-direction: column;
    width: 80%;
}
main .item1 .left{
    color: var(--unnamed, #01437C);

    /* Хедер бол */
    font-family: Ubuntu;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
    width: 15%;
}
main .item1 .right .text{
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2.5rem;
}
main .item1 .right .photo{
    width: 100%;
    height: 23rem;
    background: url("../img/page12-t/Rectangle\ 163.svg"), no-repeat;
    background-size: 100% 100%;
}
main .item2 .left{
    display: flex;
    flex-direction: column;
}
main .item2 h3{
    color: var(--unnamed, #01437C);

    /* Хедер мал */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
main .item2 h4{
    color: var(--unnamed, #01437C);

    /* Статья/H4 */
    font-family: Ubuntu;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}
main .item2 .right,
main .item4 .right{
    color: var(--unnamed, #01437C);

    /* текст_статья */
    font-family: Ubuntu;
    font-size: 1.2375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 2.0125rem */
    letter-spacing: 0.02875rem;
    width: 70%;
}
main .item2 .right b{
    color: var(--unnamed, #01437C);

    /* Н3-Bold */
    font-family: Ubuntu;
    font-size: 1.20625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
}
main .item3 .right .photo{
    width: 100%; height: 37.5rem;
    padding: 0.94rem;
    background-color: #F0F0F0
}
main .item3 .right .photo .inner{
    border: 3px solid var(--unnamed, #01437C);
    width: 100%; height: 100%;
}
main .item3 .right .text{
    color: var(--unnamed, #01437C);
    margin-top: 1.25rem;
    /* подписи под фото */
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
main .item3 .left{
    color: var(--unnamed, #01437C);

    /* Статья/дата */
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
main .item3 .left b{
    color: var(--unnamed, #01437C);

/* Хедер мал */
font-family: Ubuntu;
font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.04688rem;
text-transform: uppercase;
}
main .item4 .right .text b{
    color: var(--unnamed, #01437C);

    /* Н3-Bold */
    font-family: Ubuntu;
    font-size: 1.20625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    border-bottom: var(--unnamed, #01437C) solid 2px;
}
main .item4 .right .text2{
    width: 100%;
    margin-top: 3.75rem;
    padding: 0.625rem 0rem 0.625rem 1.25rem;
    border-left: 2px solid var(--1, #00AEEF);
color: var(--unnamed, #01437C);
font-family: Ubuntu;
font-size: 1.4375rem;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 2.15625rem */
letter-spacing: 0.04313rem;
}
main .item4 .right .block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    right: 6.5rem;
    width: 56rem;
    margin-top: 3.75rem;
}
main .item4 .right .block .ph{
    width: 40%;
    display: flex;
    flex-direction: column;
}
main .item4 .right .block .ph .mn{
    width: 100%;
    height: 17rem;
    padding: 0.9375rem;
    background-color: #F0F0F0;
}
main .item4 .right .block .ph .mn .mn-inner{
    border: 3px solid var(--unnamed, #01437C);
    width: 100%; height: 100%;
}
main .item4 .right .block .ph .tx{
    color: var(--unnamed, #01437C);
    margin-top: 0.94rem;

/* подписи под фото */
font-family: Ubuntu;
font-size: 0.75rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}
main .item4 .right .block .tx-d{
    width: 58%;
    color: var(--unnamed, #01437C);
    font-family: Ubuntu;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 2.0125rem */
    letter-spacing: 0.02875rem;
}

main .text-and-arrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .text-and-arrow .arrow{
    width: 7.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -0.7rem;
}
main .text-and-arrow .arrow .a-right{
    width: 3.25rem; height: 1.5rem;
    background: url("../img/page1/стрелка\ слайдера\ right.svg"), no-repeat;
    background-size: 100% 100%;
}
main .text-and-arrow .arrow .a-left{
    width: 3.25rem; height: 1.5rem;
    background: url("../img/page1/стрелка\ слайдера\ left.svg"), no-repeat;
    background-size: 100% 100%;
}
main .text-and-arrow button{
    width: 100%; height: 100%; background-color: transparent; border: 0;
    cursor: pointer;
}











footer .content{
    width: 100%;
    height: 24.4rem;
    background: url("../img/index/plashka.svg"), no-repeat;
    z-index: 6;
    display: flex;
    flex-direction: column;
}
footer .top{
    display: flex;
    width: 75%; margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.8rem;
    align-items: flex-start;
}
footer .top .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5rem;
}


footer .container div{
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-decoration: none;
}

footer h1{
    color: var(--unnamed, #FFF);
    /* text-align: center; */
    font-family: Ubuntu;
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
    text-decoration: none;
}
footer .first{
    height: 9rem;
}
footer .second{
    height: 12rem;
}
footer .thirt{
    height: 9rem;
}

footer .bottom{
    display: flex;
    width: 75%;
    margin-left: 12.5%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}
footer .bottom .left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17%;
}
footer .bottom .right{
    color: var(--unnamed, #FFF);
    text-align: right;
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04688rem;
    text-transform: uppercase;
}