

main .main-text h1{
    color: var(--unnamed, #01437C);

    /* Н1 */
    font-family: Ubuntu;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin-bottom: 20px;
}
main .main-text h2{
    color: var(--unnamed, #01437C);

    /* Sub-H1 */
    font-family: Ubuntu;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    margin-bottom: 60px;
}


main{padding: 7.5rem; padding-left: 12.75%; padding-right: 12.75%;}
main .content{
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
main .content .left{
    width: 49%;
    /* padding-right: 80px; */
}
main .content .border{
    width: 2%;
    /* height: 807rem; */
    /* max-height: 807rem; */
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--4, #00385C);
    position: relative;
    bottom: -2rem;
}
main .content .right{
    width: 49%;
}
main .container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
main .c-end{
    align-items: end;
}
main .container .date{
    color: var(--1, #00AEEF);
    font-family: Ubuntu;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
main .container .hr{
    width: 110%;
    height: 1.25rem;
    background: url("../img/page8/Frame46right.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: -5.89%;
    margin-bottom: 10px;
}
main .c-end .hr{
    background: url('../img/page8/Frame46left.png') no-repeat;
    background-size: 100% 100%;
    left: 5.89%;
}
main .container .h1{
    color: var(--unnamed, #01437C);
    
    /* Хедер бол */
    font-family: Ubuntu;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05938rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    max-width: 90%;

}
main .container .h2{
    color: var(--unnamed, #01437C);

    /* текст */
    font-family: Ubuntu;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
    max-width: 90%;

}
main .c-end .photo, main .c-end .h1, main .c-end .h2{
    max-width: 85%;
}
main .container .photo{
    display: flex;
    flex-direction: column;
    align-items: start;
}
main .container .photo .img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
main .container .photo .img-text{
    color: var(--unnamed, #01437C);

    /* подписи под фото */
    font-family: Ubuntu;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 15px;
}
main .c-last{
    position: relative;
}
main .c-last::after{
    content: '';
    display: block;
    width: 4.2%;
    height: 110%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: -4.2%;
    bottom: -22%;
    z-index: 2;
    border-radius: 0.625rem;
}
main .c-last::before{
    content: '';
    display: block;
    width: 4.2%;
    height: 110%;
    background: var(--4, #00385C);
    position: absolute;
    right: -4.2%;
    bottom: 79%;
    z-index: 3;
    border-radius: 0.625rem;
}
main .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 14rem;
}
main .text h1{
    color: var(--unnamed, #01437C);
    width: 40rem;
    /* Н3-Bold */
    font-family: Ubuntu;
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07031rem;
    text-transform: uppercase;
}
main .text h2{
    color: var(--unnamed, #01437C);

    /* текст-био */
    font-family: Ubuntu;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 1.75rem
     */
     width: 40rem;
}




#pop_up_4{
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; left: 0;
    z-index: 10;
    
    visibility: hidden; 
    opacity: 0;
}
#pop_up_4 .pop_up__body{
    display: flex;
    width: 100%; height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#pop_up_4 .pop_up__close{
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    cursor: pointer;
}
#pop_up_4 .pop_up__content{
    display: flex;
    width: 934px; height: auto;
    background: var(--unnamed, #F0F0F0);
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 50px;
}
#pop_up_4 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -25px; top: 0px;
}
#pop_up_4 .pop_up__content .title{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}
#pop_up_4 .pop_up__content .text{
    color: var(--unnamed, #01437C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 50px;
}
#pop_up_4 form{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#pop_up_4 form .search{
    width: 590px; height: 62px;
    padding: 20px 30px;
    color: var(--non-active, rgb(1, 67, 124));
    font-family: Ubuntu;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.95px;
    text-transform: uppercase;
    border: 2px solid var(--unnamed, #01437C);

}
#pop_up_4 form .search::placeholder{
    color: var(--non-active, rgba(1, 67, 124, 0.40));
}
#pop_up_4 form button{
    width: 188px; height: 47;
    background: var(--unnamed, #01437C);
    display: flex;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    color: var(--unnamed, #FFF);
    font-family: Ubuntu;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    cursor: pointer;
}
#pop_up_4 form button:hover{
    background: var(--unnamed, #00AEEF);
}
#pop_up_4 .item1{
    margin-top: 20px; margin-bottom: 60px;
    color: #000;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#pop_up_4 .item2{
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;

    color: var(--unnamed, #01437C);
    border-bottom: var(--unnamed, #01437C) dashed 2px;
}
#pop_up_4 .item2:hover{
    color: var(--unnamed, #00AEEF);
    border-bottom: var(--unnamed, #00AEEF) solid 2px;
}
#pop_up_4 .item3{
    margin-top: 50px;
    color: #000;
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.46px;
}
#pop_up_4 h10::before{
    content: 'ЧОРАКОФФ';
}
