
/* имг */
/* имг */

#pop_up_3{

    z-index: 10;
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    /* overflow-y: auto; */
    overflow-x: hidden;
    cursor: pointer;

    display: none;
}

#pop_up_3 .pop_up__body{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
#pop_up_3 .pop_up__content{
    display: flex;
    width: 800px;
    height: auto;
    /* background: var(--unnamed, #F0F0F0); */
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#pop_up_3 .close{
    width: 25px; height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background: url("../../../img/page13-t/heroicons_x-mark.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 5px;
    right: 5px;
}
#pop_up_3 img{
    width: 800px;
    height: auto;
    background-size: 100% 100%;
    cursor: default;
}
#pop_up_3 .text{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.46px;
    margin-top: 20px;
    cursor: default;
}

@media (min-width: 320px) and (max-width: 640px) {
    #pop_up_3 img {
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        cursor: default;
    }
    #pop_up_3 .pop_up__content {
        display: flex;
        width: calc(100% - 30px);
        height: auto;
        /* background: var(--unnamed, #F0F0F0); */
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 640px) {
    #pop_up_3 .text {
        color: #FFF;
        font-family: Ubuntu;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.46px;
        margin-top: 20px;
        cursor: default;
        width: 100%;
    }
    #pop_up_3 .pop_up__body {
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 25px;
    }
}